.container-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  .logo-company {
    h1 {
      margin-bottom: 0;
    }
    span {
      color: gray;
    }
  }
  .menu-item {
    padding: 0 .5rem;
    a {
      text-decoration: none;
      color: black;
      font-size: 1.25rem;
    }
    list-style: none;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}