@media (max-width: 650px) {

  .order {
    font-size: 1.8rem;
    padding: .5vmax 2rem;
  }

  .firstPage {
    padding: 0;
    .container-slide {
      flex-flow: column-reverse;
      overflow: hidden;
      .coutter-slider {
        display: none;
      }
      .slider-one {
        width: 100%;
        right: 0;
        .nav {
          div {
            width: 3rem;
            height: 3rem;
          }
          .slider-one-button-prev {
            left: .5rem;
          }
        }
        img {
          width: 100% !important;
        }
      }
    }
    .container-information {
      width: 100%;
      text-align: center;
      z-index: 1;
      .text-information {
        padding: 2rem;
        width: initial;
        text-align: center;
        span {
          font-size: 1.8rem;
        }
        .container-button {
          position: relative;
          .arrow {
            position: absolute;
            top: calc(50% - .25vmax);
            left: 2vmax;
            opacity: 1;
            transition: .5s;
          }
        }
      }
    }
  }
}