extends ../../components/head/head
block title
    | Sawedwood

block main
    include ../../components/header/header
    include ../../components/form/form
    div.slider-page
        div.section.firstPage(data-anchor='')
            div.container-slide
                div.container-information
                    div.text-information
                        span Авторская мебель ручной работы
                        div.container-button
                            img.arrow(src=require('./img/arrow.png'))
                            button.order.open-form Заказать
                    span.coutter-slider
                        div.swiper-pagination
                div.slider-one.swiper-container
                    div.swiper-wrapper
                        img.swiper-slide.one-slide(src=require('./img/first-slider/first-image.jpg'))
                        img.swiper-slide.two-slide(src=require('./img/first-slider/first-image.jpg'))
                        img.swiper-slide.three-slide(src=require('./img/first-slider/first-image.jpg'))
            div.arrow-bottom
        div.section.secondPage(data-anchor='secondPage')
        div.section.thirdPage(data-anchor='thirdPage')
        div.section.fourthPage(data-anchor='fourthPage')
        div.section.fivthPage(data-anchor='fivthPage')
        div.section.sixthPage(data-anchor='sixthPage')
        div.section.seventhPage(data-anchor='seventhPage')
        div.section.eighthPage(data-anchor='eighthPage')