body {
  font-size: calc( (1vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
}

.section {
  padding: 9rem 0 5rem;
}

.firstPage {
  .container-slid {
    height: 80%;
    display: flex;
    align-items: center;
  }
 .container-information {
   background: url("./img/texture-bg-block-information.png");
   height: inherit;
   width: 45%;
 }
}