extends ../../components/head/head
block title
    | Sawedwood

block main
    include ../../components/header/header
    div.slider-page.swiper-container
        div.section.firstPage
            div.container-slid
                div.container-information
                    h1 Авторская мебель ручной работы
                div.slider-one.swiper-container
                    div.swiper-wrapper
                        img.swiper-slide
                        img.swiper-slide
                        img.swiper-slide

        div.section.secondPage(data-anchor='secondPage')
        div.section.thirdPage(data-anchor='thirdPage')
        div.section.fourthPage(data-anchor='fourthPage')
        div.section.fivthPage(data-anchor='fivthPage')
        div.section.sixthPage(data-anchor='sixthPage')
        div.section.seventhPage(data-anchor='seventhPage')
        div.section.eighthPage(data-anchor='eighthPage')
