@import url('https://fonts.googleapis.com/css?family=Rubik');

.header-content {
  position: absolute;
  padding: 3.75rem 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 5;
  img {
    width: 15%;
  }
}