div.form-container
    div.form

        span Давайте обсудим лично
        div.close
        form(method="post" novalidate)
            div.container-filed
                div.success
                    div.wrap-img
                        img(src=require('./img/email_icon.svg'))
                    div.wrap-span
                        span Спасибо за заявку !
                        span В ближайшее время мы с вами свяжемся
                div.filed
                    label
                        span Ваше имя *
                        input.name(name='name' type='text' required)
                    label
                        span Телефон *
                        input.phone(name='phone' type='tel' required)
                    label
                        span Email
                        input(name='email')
                    div.button-block
                        button(type='submit').order Заказать
                div.message
                    span.gray Добавьте ваши пожелания
                    span.fray (тип медели, размер, материал)
                    textarea(name='message' rows='8')

