.form-container {
  padding: 10vmax;
  box-sizing: border-box;
  background: url('./img/bg-form.png') center no-repeat;
  background-size: 35%;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  .close {
    width: 1.5vmax;
    height: 1.5vmax;
    position: absolute;
    right: 0;
    top: -1vmax;
    cursor: pointer;
  }
  span {
    background: black;
    color: white;
    padding: .1vmax 1.5vmax;
    position: relative;
    top: .5vmax;
    left: 2vmax;
    font-size: 1vmax;
  }
  .form {
    width: 40%;
    position: relative;
    left: 4vmax;
    font-size: .9vmax;
  }
  .container-filed {
    display: flex;
    background: white;
    align-items: baseline;
    padding: 5vmax 2vmax;
    .filed {
      margin-right: 1vmax;
      display: flex;
      flex-flow: column;
      width: 40%;
      label {
        margin-bottom: 1vmax;
        span {
          font-size: 1vmax;
          display: block;
          background: none;
          padding: 0;
          color: black;
          position: initial;
        }
        input {
          background: none;
          border: none;
          border-bottom: .02vmax solid #000;
          width: 100%;
          line-height: 1.45vmax;
          outline: none;
        }
      }
      button {
        position: absolute;
        bottom: 2rem;
        left: 2.2rem;
        padding: .3vmax 1.5vmax;
      }
    }
    .message {
      display: flex;
      flex-flow: column;
      resize: none;
      textarea {
        outline: none;
      }
      span {
        background: none;
        padding: 0;
        color: black;
        position: initial;
      }
    }
  }
}