div.form-container
    div.form
        span Давайте обсудим лично
        div.container-filed
            div.filed
                label
                    span Ваше имя *
                    input(name='name' type='text')
                label
                    span Телефон *
                    input(name='phone' type='tel')
                label
                    span Email
                    input(name='email')
                button(type='submit').order Заказать
            div.message
                span.gray Добавьте ваши пожелания
                span.fray (тип медели, размер, материал)
                textarea(name='message' rows='10')