div.container-page-galery
    h1 Галерея
    div.slider-galery.swiper-container
        div.swiper-wrapper
            div.swiper-slide
                div.img.slide-image-one
                div.button-cont
                    h2 Название проекта
                    span Материал
                    span Размеры
                    div.container-buttom
                        button.order.open-form Заказать
            div.swiper-slide
                div.img.slide-image-two
                div.button-cont
                    h2 Название проекта
                    span Материал
                    span Размеры
                    div.container-buttom
                        button.order.open-form Заказать
            div.swiper-slide
                div.img.slide-image-three
                div.button-cont
                    h2 Название проекта
                    span Материал
                    span Размеры
                    div.container-buttom
                        button.order.open-form Заказать
            div.swiper-slide
                div.img.slide-image-four
                div.button-cont
                    h2 Название проекта
                    span Материал
                    span Размеры
                    div.container-buttom
                        button.order.open-form Заказать
            div.swiper-slide
                div.img.slide-image-five
                div.button-cont
                    h2 Название проекта
                    span Материал
                    span Размеры
                    div.container-buttom
                        button.order.open-form Заказать
        div.nav
            div.swiper-button-prev.slider-galery-button-prev
            div.swiper-button-next.slider-galery-button-next