mixin createEtap(pathtImgEtaps, titleEtaps, nameEtaps)
    div.etap
        div.wpar-img
            img(src=pathtImgEtaps)
        div.wrap-text
            div.couter
                span=titleEtaps
            span.last=nameEtaps